# Default ignored files
/.idea/
/build/
/node_modules/
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
!/ps-typescript-from-scratch.iml
